<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>IFP Halloween 2019 Photo Contest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/contest/static/css/normalize.css">
    <link rel="stylesheet" href="/contest/static/css/main.css">
    <meta name="theme-color" content="#fafafa">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .contestant-photo { width: 500px; height: 500px; }
    
    </style>
  </head>
  <body>
    <div class="container">
      
      <div class="jumbotron">
        <h1 class="display-4">IFP 2019 Halloween Photo Contest</h1>
        <p class="lead">Vote for your favorite below. Contest ends at 11am!</p>
      </div>
    </div>
    <div>
            {% if closed %}
      <h4 class="d-flex justify-content-center bg-success">Contest is Ended</h4>
      {% endif %}
      <div class="container">
        {% for row in grid %}
          <div class="row mb-3">
            {% for submission in row %}
              <div class='col d-flex justify-content-center'>
                <div>
                <div class="card" style="width: 18rem;">
                  <img src="{{ submission.photo_path }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ submission.costume_title}}</h5>
                    <p class="card-text">by {{ submission.contestant }}</p>
                    {% if not closed %}
                    <a href="#" contestant_id = "{{ submission.id }}" class="btn btn-primary btnVote">Vote For Me</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        
      </div>
    </div>
    
    <script src="/contest/static/js/vendor/modernizr-3.7.1.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="/contest/static/js/plugins.js"></script>
    <script src="/contest/static/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script>


    $(".btnVote").click(function( event ) {
        event.preventDefault();
        console.log($(this).attr('contestant_id'));
        var url = '/contest/vote/' + $(this).attr('contestant_id');
        $.post(url,function (result) {
          alert('Thanks for Voting!');
          $("a.btnVote").addClass("disabled");
        })
    })
    </script>


  </body>
</html>