<html>

<body>

	<p>Steve, use this page to load images</p>
	<form method="POST" enctype=multipart/form-data>
		<input type="text" name="contestant" placeholder="Contestant Name" /><br/>
		<input type="text" name="costume_title" placeholder="Costume Title" /><br/><br />
	
		<label for="file">Upload picture here</label> <br />
		<input type="file" name="file" /><br /> <br />
		<p>Photo submissions should be 500x500 pixels with a <code>.jpg</code> extension.</p>

		<input type="submit" value="Add">

	</form>



	<h3>Current Standings</h3>
	{{ standings.to_html(index=False) | safe }}
</body>
</html>