<html>

<body>

	<p>Steve, use this page to load images</p>
	<form method="POST" enctype=multipart/form-data>
		<input type="text" name="contestant" placeholder="Contestant Name" /><br/>
		<input type="text" name="costume_title" placeholder="Costume Title" /><br/><br />
	
		<label for="file">Upload picture here</label> <br />
		<input type="file" name="file" /><br /> <br />
		<p>Photo submissions should be 500x500 pixels with a <code>.jpg</code> extension.</p>

		<input type="submit" value="Add">

	</form>



	<h3>Current Standings</h3>

		<table>
		<thead>
			<th>Contestant</th>
			<th>Number of Votes</th>
			<th>Action</th>
		</thead>
		<tbody>
			{% for row in standings.itertuples() %}
			<tr>
				<td>{{ row.contestant}}</td>
				<td>{{ row.votes }}</td>
				<td><input type="submit" contestant_id="{{ row.id }}" class='btnDelete' value="Delete" /></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


	<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>


	<script>

		$(".btnDelete").click(function( event ) {
        event.preventDefault();
        console.log($(this).attr('contestant_id'));
        var url = '/contest/submissions/' + $(this).attr('contestant_id');


        $.ajax(url,
        {
        	type: 'DELETE'
        }
        ).done(alert('Submission deleted'))

			location.reload()
        })


	</script>
</body>
</html>